body{
	display: grid;
	grid-template-areas: 
    "header header header"
	"curs info-blocks schedule"
    "footer footer footer";
	grid-template-rows: 110px 1fr 60px;
	grid-template-columns: 180px 500px 1fr;
	height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header, .currencys-wrapper, .info-blocks, footer{
	padding: 20px;
	/*border: solid 1px black; !* Параметры рамки *!*/
}



a{
	text-decoration: none;
}


/*верхний колонтитул*/
header{
	grid-area: header;
	background-color: #3E38F2;
	padding: 10px 0;
}

header>section{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

header>section>h1{
	color: white;
	text-transform: uppercase;
	font-size: 36px;
	margin: 0;
	width: 50%;
}

header .buttons{
	width: 30%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

header .buttons>a{
	background: #FFFFFF;
	box-shadow: 0 0 21px 5px #2C28A7;
	border-radius: 35px;
	padding: 20px 40px;
	/*font-weight: bold;*/
	color: black;
}

header .buttons>.btn_disabled{
	background: #707070;
	box-shadow: none;
	border-radius: 35px;
}



/*список валют*/
.currencys-wrapper{
	grid-area: curs;
}

.currencys-wrapper>ul{
	list-style: none;
}

.currencys-wrapper>ul>li{
	margin: 10px;
	padding: 10px 30px;
	/*border: solid 1px black;*/
}

.currencys-wrapper>ul>li>a{
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}





/*список дополнительных областей*/
.info-blocks{
	grid-area: info-blocks;
	/*background-color: white;*/
}

.info-block{
	width: 90%;
	min-height: 250px;
	margin: 10px;
	background: #317DA5;
	box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
	border-radius: 20px;
	display: grid;
	grid-template-areas:
		"nm er"
		"ld dt"
		"lnc nc"
		"llc lc";
	grid-template-rows: 30% 1fr 1fr 1fr;
	grid-template-columns: 1fr 1.5fr;
	grid-gap: 5px;
	color: white;
}

.name{
	grid-area: nm;
	text-transform:uppercase;
	font-size:2em;
	margin-left: 15%;
	margin-top: 15%;
	/*margin: 5% 10%;*/
}

.exchange-rate{
	grid-area: er;
	font-size:2em;
	margin-top: 10%;
	/*margin: 10% 10%;*/
}

.label-date{
	grid-area: ld;
	margin-left: 15%;
	font-size:1.2em;
}

.date{
	grid-area: dt;
	font-size:1.2em;
}

.label-number-code{
	grid-area: lnc;
	margin-left: 15%;
	font-size:1.2em;
}

.number-code{
	grid-area: nc;
	font-size:1.2em;
}

.label-letter-code{
	grid-area: llc;
	margin-left: 15%;
	font-size:1.2em;
}

.letter-code{
	grid-area: lc;
	font-size:1.2em;
}



/*область графиков*/
.schedule-wrapper{
	margin: 3%;
}

.schedule{
	width: 100%;
	height: 100%;
	box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}




/*нижний колонтитул*/
footer{
	grid-area: footer;
	background-color: #444;
	padding: 0;
}

footer>section{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;
}

footer>section>h3{
	margin: 0;
	color: white;
	font-size: 24px;
}




/*элемент для расположения дочерних элементов для вертикальной прокрутки*/
.scrollable-wrapper-column {
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/*контейнер для скрола*/
.scrollable-container {
    overflow: auto; /* Добавляем полосы прокрутки */
	padding: 0; /* Поля вокруг текста */
    border: solid 0 black; /* Параметры рамки */
} 






/*Кастомный скролбар*/

::-webkit-scrollbar-button {
background-repeat:no-repeat;
width:5px;
height:5px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0;
border-radius: 40px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-repeat:no-repeat;
width:4px;
height:4px
}

::-webkit-scrollbar{
width: 10px;
}
