body{
	display: grid;
	grid-template-areas: 
    "header header header header"
    ". curs info-blocks ."
    "footer footer footer footer";
	grid-template-rows: 14% 1fr 7%;
	grid-template-columns: 15% 1fr 2fr 15%;
	/*grid-gap: 10px;*/
	grid-column-gap: 10px;
	height: 100vh;
	margin: 0;
}

header, .currencys-wrapper, .info-blocks, footer{
	padding: 20px;
	background: gold;
	border: solid 1px black; /* Параметры рамки */
}






/*верхний колонтитул*/
header{
	grid-area: header;
	padding: 0;
}

header>section{
	width: 70%;
	height: 100%;
	margin: 0 auto;
	background: blue;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}






/*список валют*/
.currencys-wrapper{
	grid-area: curs;
}

.currencys-wrapper>ul{
	list-style: none;
}

.currencys-wrapper>ul>li{
	margin: 10px;
	padding: 10px 30px;
	border: solid 1px black;
}






/*список дополнительных областей*/
.info-blocks{
	grid-area: info-blocks;
}

.info-block{
	width: 80%;
	min-height: 200px;
	margin: 10px;
	background: red;
}






/*нижний колонтитул*/
footer{
	grid-area: footer;
	padding: 0;
}

footer>section{
	width: 70%;
	height: 100%;
	margin: 0 auto;
	background: blue;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;
}





/*элемент для расположения дочерних элементов для вертикальной прокрутки*/
.scrollable-wrapper-column {
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/*контейнер для скрола*/
.scrollable-container {
    overflow: auto; /* Добавляем полосы прокрутки */
    padding: 5px; /* Поля вокруг текста */
    border: solid 0px black; /* Параметры рамки */
} 






/*Кастомный скролбар*/

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:5px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 40px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:4px
}

::-webkit-scrollbar{
width: 10px;
}